{% load static %}
<style>
  #footer {
    transform: translate(0%,100%);
  }
</style>
<!-- Start Footer -->
<footer class="container-fluid px-0 mt-5" id="footer">
  <div class="container mb-5 d-flex">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="see-it-first">
      <!-- Content will be dynamically added here -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " >
      <div id="policy">
        <!-- Content will be dynamically added here -->
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " >
      <div id="about-us">
        <!-- Content will be dynamically added here -->
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-">
      <div id="contact-us">
        <!-- Content will be dynamically added here -->
      </div>
    </div>
  </div>
  </div>
  <hr>
  <div class="text-center p-3">
    <small class="" id="copyright-info">
      <!-- Copyright information will be dynamically added here -->
    </small>
  </div>
</footer>
<script src="{% static 'app/js/footer.js' %}"></script>

<!-- End Footer -->
