
<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #304d30"
>
  <div class="container">
    <a class="navbar-brand" href="/">Shivay International</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'men_collection' %}"
            >Men's Wear</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'women_collection' %}"
            >Women's Wear</a
          >
        </li>
      </ul>
      <form>
        <input
          type="text"
          class="search-input"
          id="search"
          name="search"
          placeholder="Search for Product..."
        />
        <i
          class="fas fa-search search-icon"
          style="color: #fff; cursor: pointer"
        ></i>
        <div id="suggestions" class="suggestions-box"></div>
      </form>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown mx-2">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ request.user.username|capfirst }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'orders' %}">Orders</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'passwordchange' %}"
                >Change Password</a
              >
            </li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Logout</button>
              </form>
            </li>
          </ul>
        </li>
        <li class="nav-item mx-2">
          <a href="{% url 'showcart' %}" class="nav-link text-white">
            <span class="badge bg-danger">{{ totalitem }}</span> Cart
          </a>
        </li>
        {% else %}
        <li class="nav-item mx-2">
          <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
        </li>
        <li class="nav-item mx-2">
          <a href="{% url 'customerregistration' %}" class="nav-link text-white"
            >Registration</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
</nav>

<style>
  .suggestions-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: calc(25% - 2px); 
  max-height: 200px;
  overflow-y: auto;
  display: none; 
}

.suggestions-box .suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestions-box .suggestion-item:hover {
  background-color: #f0f0f0;
}

</style>

