<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}" />

    <title>shivayinternational.co | {% block title %} {% endblock title %}</title>
</head>

<body style="background-color: #b6c4b6;">
    {% block nav %}
    {% include 'app/components/nav.html' %}
    {% endblock nav %}

    {% block livesale %} {% endblock livesale %}

    <!-- Container to display the products -->
    <div id="product-container" class="container product"></div>

    {% block banner_slider %} {% endblock banner_slider %}
    {% block main-content %} {% endblock main-content %}
    {% block payment-gateway %} {% endblock payment-gateway %}

    {% block footer %}
    {% include 'app/components/footer.html' %}
    {% endblock footer %}



    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- jQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Owl Carousel -->
    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>

    <!-- Custom Script -->
    <script src="{% static 'app/js/footer.js' %}"></script>
    <script src="{% static 'app/js/autocomplete.js' %}"></script>
    <script src="{% static 'app/js/login.js' %}"></script>


    {% block script %}
    <!-- Additional scripts can be added by other templates -->
    {% endblock script %}
</body>

</html>
