{% load static %}
<!-- Start Footer -->
<footer class="container-fluid p-2 mt-5">
  <div class="container mb-5 d-flex">
    <div class="row">
    <div class="col-4" id="see-it-first">
      <!-- Content will be dynamically added here -->
    </div>
    <div class="col-4 " >
      <div id="about-us">
        <!-- Content will be dynamically added here -->
      </div>
    </div>
    <div class="col-4">
      <div id="contact-us">
        <!-- Content will be dynamically added here -->
      </div>
    </div>
  </div>
  </div>
  <div class="bg-dark text-center p-3">
    <small class="text-white" id="copyright-info">
      <!-- Copyright information will be dynamically added here -->
    </small>
    <img
      src="{% static 'app/images/payment.png' %}"
      alt=""
      srcset=""
      class="img-fluid"
      height="2px"
    />
  </div>
</footer>
<!-- End Footer -->



